---
layout: default
---
<div class="baner-home-container">
  <div id="baner-home">

    <div class="top01 clearfix baner">
      <div class="claim">Rescue your memories<br/><span class="font-pink">from the box</span></div>
      <div class="blocks">
        <div class="row">
          <div class="square empty-pink appear" data-appear="3"></div>
        </div>
        <div class="row">
          <div class="square logo clickable resize-claim appear" data-order="2" data-appear="3">
            <figure class="square"></figure>
            <div class="desc">Family Owned</div>
          </div>
        </div>
        <div class="row grey clearfix">
          <div class="markup clearfix clickable appear" data-order="1" data-appear="2">
            <figure class="square"></figure>
            <div class="desc">Economical</div>
          </div>
          <div class="square empty-darkgreen appear" data-appear="2"></div>
        </div>
      </div>
      <div class="big-block blue-computer clickable appear" data-order="3" data-appear="4">
        <div class="desc">From photos & slides to  negatives & video; we preserve for the digital age.
</div>
        <figure class="big-square"></figure>
      </div>
    </div>

    <div class="top02 clearfix baner">
      <div class="claim">professional services<br/><span class="font-dark-green">diy consulting</span></div>
      <div class="blocks">
        <div class="row">
          <div class="square empty-violet appear" data-appear="2"></div>
        </div>
        <div class="row">
          <div class="square conversation clickable resize-claim appear" data-order="2" data-appear="2">
            <figure class="square"></figure>
            <div class="desc">Efficiently scan & digitize your photos</div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="trumpet clearfix clickable appear" data-order="1" data-appear="1">
            <figure class="square"></figure>
            <div class="desc">Organize your digital images so that you can quickly locate your favorite pics</div>
          </div>
          <div class="square empty-green appear" data-appear="1"></div>
          <div class="square empty-grey appear" data-appear="1"></div>
        </div>
      </div>
      <div class="big-block views clickable appear" data-appear="3" data-order="3">
        <figure class="big-square"></figure>
        <div class="desc"><b>Countless memories saved</b></div>
      </div>
    </div>

    <div class="top03 clearfix baner">
      <div class="claim">great software<br/><span class="font-blue">knows no boundaries</span></div>
      <div class="blocks">
        <div class="row">
          <div class="square rocket clickable resize-claim appear" data-appear="2" data-order="2">
            <figure class="square"></figure>
            <div class="desc"><b>Always ready</b><br/>for new challenges</div>
          </div>
        </div>
        <div class="row">
          <div class="square empty-blue appear" data-appear="2"></div>
        </div>
        <div class="row clearfix">
          <div class="pointer clearfix clickable appear" data-appear="1" data-order="1">
            <figure class="square"></figure>
            <div class="desc"><b>Just a click away,</b><br/>no matter the distance</div>
          </div>
          <div class="square empty-violet appear" data-appear="1"></div>
          <div class="square empty-grey appear" data-appear="1"></div>
          <div class="square empty-white appear" data-appear="1"></div>
        </div>
      </div>
      <div class="big-block earth clickable appear" data-appear="3" data-order="3">
        <figure class="big-square"></figure>
        <div class="desc"><b>Successfully delivering to</b><br/>North America, Europe,<br/>Africa and Australia</div>
      </div>
    </div>
  </div>

</div>
<div id="baner-nav">
  <a href="#" class="prev"></a>
  <a href="#" class="next"></a>
</div>

<article id="home">

  <section class="border">
    <div class="wrapper clearfix">
      <div class="services clearfix">
        <h6>Services</h6>

        <h2>We create and organize high-quality digital copies of your memories:</h2>
        <ul class="clearfix">
          <li class="web">Photos</li>
          <li class="back-end">Slides</li>
          <li class="enterprise">Home Video</li>
        </ul>
        <p>We bring your past into the future.</p>
        <a href="/services/" class="see-more">See more</a>
      </div>
    </div>
  </section>

  <section class="border">
    <div class="wrapper clearfix">
      <h6>Testimonials</h6>
      <div class="cases">
        <div>
          <a href="/portfolio/#vocado" class="case" case="0">
            <h2 class="light">K. Byron</h2>
            <p>Flood Reovery- Negative Conversion</p>
            <figure>
              <img src="/img/case1.png" alt="Vocado"/>
            </figure>
          </a>

          <a href="/portfolio/#intelli-sms" class="case" case="1">
            <h2 class="light">J. Dassow</h2>
            <p>Home Video Conversion</p>
            <figure>
              <img src="/img/case3.png" alt="Intelli SMS MessageCore<sup>(TM)</sup>"/>
            </figure>
          </a>

          <a href="/portfolio/#circular" class="case" case="2">
            <h2 class="light">J. Shenk</h2>
            <p>Home video conversion</p>
            <figure>
              <img src="/img/case5.png" alt="Circular"/></figure>
          </a>
        </div>
      </div>

      <div class="cases-nav clearfix">
        <a href="#" class="prev"></a>
        <a href="#" class="next"></a>
      </div>

      <div class="cases-views">
        <div class="view green first  up " case="0">
          <h2 class="light"><span class="font-normal">K. Byron</span></h2>
          <p>Flood Recovery</p>
          <a href="/portfolio/#vocado" class="see-more">View</a>
        </div>

        <div class="view blue second  down " case="1">
          <h2 class="light"><span class="font-normal">J. Dassow</span></h2>
          <p>Home video conversion</p>
          <a href="/portfolio/#intelli-sms" class="see-more">View</a>
        </div>

        <div class="view green third  up " case="2">
          <h2 class="light"><span class="font-normal">J. Shenk</span></h2>
          <p>Home video conversion</p>
          <a href="/portfolio/#circular" class="see-more">View</a>
        </div>
      </div>

      <a href="/portfolio/" class="see-more all-cases">See all projects</a>
    </div>
  </section>

  <section class="border">
    <div class="wrapper clearfix">

      <div class="conferences">
        <h6>Workshops</h6>
        <p>
          <strong>We organize Scalar</strong>
          - a conference for developers, project managers and everyone, who shares the passion for Scala.
        </p>
        <a href="/meet-the-team/#find-us-at" class="see-more">Learn more</a>
      </div>
    </div>
  </section>

<!--
  <section class="border">
    <div class="wrapper clearfix">
      {% for post in site.categories.company limit: 1 %}
      {% include blog.html color='blue' %}
      {% endfor %}

      {% include generated/team-posts-home.html %}
      <a href="/blog/" class="see-more all-news">See all</a>
    </div>
  </section>

</article>
-->
