---
layout: default
title: Blog - SoftwareMill
description: We are back-end wizards and we love to share our knowledge. Here are our blogs about Java, Scala, Big Data and many many more.
keywords: blog, java, scala, big data, aws, jboss
---
<div id="baner-contact">
  <div class="wrapper font-green">What we've been up to</div>
</div>
<div id="submenu">
  <nav class="nav">
    <div class="wrapper clearfix">
      <ul class="clearfix">
        <li><a href="#company-news">Company News</a></li>
        <li><a href="#team-posts">Our Team's Posts</a></li>
        <li><a href="#presentations">Our Presentations</a></li>
      </ul>
    </div>
  </nav>
</div>

<article id="blog">
  <section id="company-news">
    <div class="block border">
      <div class="wrapper clearfix">
        <h6>Company News</h6>
        <div class="blog-list-container" id="blogs-slider">
          {% for post in site.categories.company %}
          {% include blogs.html color='blue' %}
          {% endfor %}
        </div>

        <nav id="blogs-slider-nav" class="clearfix">
          <a class="prev"></a>
          <a class="next"></a>
        </nav>
        <a href="#" class="see-more blog-list-link">See all</a>
      </div>
    </div>
  </section>


  <section id="team-posts">
    <div class="block border">
      <div class="wrapper clearfix">
        <h6>Our team's posts</h6>
        <div class="blog-list-container" id="members-blogs-slider">
          {% include generated/team-posts-blog.html %}
        </div>

        <nav id="members-blogs-slider-nav" class="clearfix">
          <a class="prev"></a>
          <a class="next"></a>
        </nav>

        <a href="#" class="see-more blog-list-link">See all</a>
      </div>
    </div>
  </section>


  <section id="presentations">
    <div class="block border">
      <div class="wrapper clearfix">
        <h6>Our presentations</h6>
        <div class="blog-list-container" id="members-presentations-slider">
          {% for presentation in site.categories.presentations %}
          {% include presentations.html color='violet' %}
          {% endfor %}
        </div>

        <nav id="members-presentations-slider-nav" class="clearfix">
          <a class="prev"></a>
          <a class="next"></a>
        </nav>

        <a href="#" class="see-more blog-list-link">See all</a>
      </div>
    </div>
  </section>
</article>
